.just-perfection
{
    font-size: small;
}

.just-perfection .switcher-list
{
    color: #eeeeec;
    background-color: rgba(0, 0, 0, .99);
    border: 0 solid rgba(255, 255, 255, .16);
    border-radius: 15px;
    padding: 12px;
    box-shadow: none;
}

.just-perfection .window-close
{
    background-image: url("bin/close-button.svg");
}

.just-perfection .window-clone-border
{
    border: 5px solid #004AC7;
    border-radius: 16px;
    box-shadow: inset 0 0 0 0 #004AC7;
}

.just-perfection .window-caption
{
    spacing: 25px;
    color: #ffffff;
    background-color: #004AC7;
    border-radius: 9px;
    padding: 4px 12px;
    font-size: small;
    font-weight: normal;
}
  
.just-perfection .window-close
{
    background-size: 24px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    color: transparent;
    border-radius: 24px;
    border: 0 solid #1b6acb;
}

.just-perfection .switcher-popup
{
    padding: 8px;
    spacing: 24px;
    font-size: small;
}

.just-perfection .switcher-list .item-box
{
    padding: 8px;
    border-radius: 14px;
    border: 1px solid transparent;
}

.just-perfection .switcher-list .item-box:outlined
{
    border: 0;
    background-color: rgba(255, 255, 255, .1);
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, .4);
}

.just-perfection .switcher-list .item-box:selected
{
    background-color: rgba(255,255,255, .1);
    color: #eeeeec;
}

.just-perfection .switcher-list .thumbnail-box
{
    padding: 2px;
    spacing: 6px;
}

.just-perfection .switcher-list .thumbnail
{
    width: 256px;
}

.just-perfection .switcher-list .separator
{
    width: 1px;
    background: #272727;
}

.just-perfection .switcher-list .switcher-list-item-container
{
    spacing: 12px;
}

.just-perfection .workspace-switcher-container
{
    background-color: rgba(0, 0, 0, .7);
    box-shadow: none;
    padding: 3px;
    border: 0;
    border-radius: 3px;
}

.just-perfection .workspace-switcher
{
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    spacing: 4px;
}

.just-perfection .ws-switcher-box
{
    background: transparent;
    background-color: rgba(255, 255, 255, .02);
    height: 10px;
    background-size: 0;
    border: 0;
    border-radius: 1px;
}

.just-perfection .ws-switcher-active-up,
.just-perfection .ws-switcher-active-down,
.just-perfection .ws-switcher-active-left,
.just-perfection .ws-switcher-active-right
{
    height: 10px;
    background-color: rgba(255, 255, 255, .8);
    border: 0;
    border-radius: 1px;
}

.just-perfection .osd-window
{
    background-color: rgba(0, 0, 0, 1);
    border: 0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: none;
}


.just-perfection .search-entry
{
    caret-color: white;
    selection-background-color: #008bff;
    selected-color: white;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border: 0;
    border-radius: 10px;
    box-shadow: none;
}

.just-perfection .search-entry:focus
{
    background-color: rgba(0, 0, 0, .6);
}

.just-perfection .search-entry .search-entry-icon
{
    icon-size: 18px;
    padding: 0 0;
    color: rgba(255, 255, 255, .5);
}

.just-perfection .search-section .search-section-separator
{
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
}

.just-perfection .search-section-content
{
    spacing: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: none;
    text-shadow: none;
    color: rgba(255, 255, 255, .98);
}

.just-perfection.just-perfection-gnome3 #dash
{
    background-color: rgba(0, 0, 0, .4);
    padding: 5px 0;
    border: 0;
    border-radius: 0 15px 15px 0;
}

.just-perfection.just-perfection-gnome3 #dash:rtl
{
    padding: 5px 0;
    border-radius: 15px 0 0 15px;
}

.just-perfection.just-perfection-gnome3 .workspace-thumbnails
{
    spacing: 20px;
    padding: 20px;
    padding-right: 0;
    margin: 0;
    border-radius: 15px 0 0 15px;
    border: 0;
    color: rgba(255, 255, 255, .85);
    background-color: rgba(0, 0, 0, .5);
}

.just-perfection.just-perfection-gnome3 .workspace-thumbnail-indicator
{
    border: 0;
    border-bottom: 2px solid transparent;
    border-color: #0860f2;
    padding: 0;
    padding-bottom: 2px;
    border-radius: 0;
}

.just-perfection .tile-preview
{
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0;
}

.just-perfection-api-no-search #overview
{
    spacing: 0;
}

.just-perfection-api-no-search .overview-controls
{
    padding-top: 36px;
    padding-bottom: 36px;
}

.just-perfection-api-gnome3.just-perfection-api-no-workspace .window-picker
{
    /* 100% won't work but when the px is more than the maximum width it will be 100%*/
    width: 100000px;
}

.just-perfection-api-gnome40.just-perfection-api-no-workspace .workspace-thumbnails,
.just-perfection-api-gnome40.just-perfection-api-no-workspace .workspace-thumbnail-indicator
{
    /* we use scale=0 which is giving us the same width and height as 0 */
    /* spacing: 0; */
    /* width: 0; */
    /* height: 0; */
    padding: 0;
    margin: 0;
    border: 0;
}

.just-perfection-api-lonely-oveview .controls-manager
{
    margin-top: 55px;
    margin-bottom: 55px;
}

.just-perfection-api-gnome3.just-perfection-api-no-panel .search-entry
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.just-perfection-api-gnome40.just-perfection-api-no-panel .search-entry
{
    margin-top: 30px;
    margin-bottom: 10px;
}

.just-perfection-api-no-window-picker-icon .workspaces-view StIcon
{
    width: 0;
    height: 0;
    padding: 0;
}

.just-perfection-api-no-power-icon .power-status StIcon
{
    width: 0;
    height: 0;
    padding: 0;
}

.just-perfection-api-gnome3.just-perfection-api-type-to-search #overview
{
    margin-top: 23px;
}

.just-perfection-api-gnome3.just-perfection-api-type-to-search #overview .search-entry
{
    margin-bottom: 23px;
}

.just-perfection-api-bottom-panel #overview
{
    margin-bottom: 24px;
}

.just-perfection-api-bottom-panel .popup-menu.panel-menu
{
    margin-bottom: 0;
}

.just-perfection-api-bottom-panel.just-perfection-api-no-panel #overview
{
    margin-bottom: 0;
}

.just-perfection-api-no-panel-arrow .panel-button .popup-menu-arrow
{
    width: 0;
    height: 0;
}

/**
 * we shouldn't mess with GNOME Shell theme
 * so styling with css for each size is more proper
 */
.just-perfection-api-panel-corner0 #panel .panel-corner { -panel-corner-radius: 0px; }
.just-perfection-api-panel-corner1 #panel .panel-corner { -panel-corner-radius: 1px; }
.just-perfection-api-panel-corner2 #panel .panel-corner { -panel-corner-radius: 2px; }
.just-perfection-api-panel-corner3 #panel .panel-corner { -panel-corner-radius: 3px; }
.just-perfection-api-panel-corner4 #panel .panel-corner { -panel-corner-radius: 4px; }
.just-perfection-api-panel-corner5 #panel .panel-corner { -panel-corner-radius: 5px; }
.just-perfection-api-panel-corner6 #panel .panel-corner { -panel-corner-radius: 6px; }
.just-perfection-api-panel-corner7 #panel .panel-corner { -panel-corner-radius: 7px; }
.just-perfection-api-panel-corner8 #panel .panel-corner { -panel-corner-radius: 8px; }
.just-perfection-api-panel-corner9 #panel .panel-corner { -panel-corner-radius: 9px; }
.just-perfection-api-panel-corner10 #panel .panel-corner { -panel-corner-radius: 10px; }
.just-perfection-api-panel-corner11 #panel .panel-corner { -panel-corner-radius: 11px; }
.just-perfection-api-panel-corner12 #panel .panel-corner { -panel-corner-radius: 12px; }
.just-perfection-api-panel-corner13 #panel .panel-corner { -panel-corner-radius: 13px; }
.just-perfection-api-panel-corner14 #panel .panel-corner { -panel-corner-radius: 14px; }
.just-perfection-api-panel-corner15 #panel .panel-corner { -panel-corner-radius: 15px; }
.just-perfection-api-panel-corner16 #panel .panel-corner { -panel-corner-radius: 16px; }
.just-perfection-api-panel-corner17 #panel .panel-corner { -panel-corner-radius: 17px; }
.just-perfection-api-panel-corner18 #panel .panel-corner { -panel-corner-radius: 18px; }
.just-perfection-api-panel-corner19 #panel .panel-corner { -panel-corner-radius: 19px; }
.just-perfection-api-panel-corner20 #panel .panel-corner { -panel-corner-radius: 20px; }
.just-perfection-api-panel-corner21 #panel .panel-corner { -panel-corner-radius: 21px; }
.just-perfection-api-panel-corner22 #panel .panel-corner { -panel-corner-radius: 22px; }
.just-perfection-api-panel-corner23 #panel .panel-corner { -panel-corner-radius: 23px; }
.just-perfection-api-panel-corner24 #panel .panel-corner { -panel-corner-radius: 24px; }
.just-perfection-api-panel-corner25 #panel .panel-corner { -panel-corner-radius: 25px; }
.just-perfection-api-panel-corner26 #panel .panel-corner { -panel-corner-radius: 26px; }
.just-perfection-api-panel-corner27 #panel .panel-corner { -panel-corner-radius: 27px; }
.just-perfection-api-panel-corner28 #panel .panel-corner { -panel-corner-radius: 28px; }
.just-perfection-api-panel-corner29 #panel .panel-corner { -panel-corner-radius: 29px; }
.just-perfection-api-panel-corner30 #panel .panel-corner { -panel-corner-radius: 30px; }
.just-perfection-api-panel-corner31 #panel .panel-corner { -panel-corner-radius: 31px; }
.just-perfection-api-panel-corner32 #panel .panel-corner { -panel-corner-radius: 32px; }
.just-perfection-api-panel-corner33 #panel .panel-corner { -panel-corner-radius: 33px; }
.just-perfection-api-panel-corner34 #panel .panel-corner { -panel-corner-radius: 34px; }
.just-perfection-api-panel-corner35 #panel .panel-corner { -panel-corner-radius: 35px; }
.just-perfection-api-panel-corner36 #panel .panel-corner { -panel-corner-radius: 36px; }
.just-perfection-api-panel-corner37 #panel .panel-corner { -panel-corner-radius: 37px; }
.just-perfection-api-panel-corner38 #panel .panel-corner { -panel-corner-radius: 38px; }
.just-perfection-api-panel-corner39 #panel .panel-corner { -panel-corner-radius: 39px; }
.just-perfection-api-panel-corner40 #panel .panel-corner { -panel-corner-radius: 40px; }
.just-perfection-api-panel-corner41 #panel .panel-corner { -panel-corner-radius: 41px; }
.just-perfection-api-panel-corner42 #panel .panel-corner { -panel-corner-radius: 42px; }
.just-perfection-api-panel-corner43 #panel .panel-corner { -panel-corner-radius: 43px; }
.just-perfection-api-panel-corner44 #panel .panel-corner { -panel-corner-radius: 44px; }
.just-perfection-api-panel-corner45 #panel .panel-corner { -panel-corner-radius: 45px; }
.just-perfection-api-panel-corner46 #panel .panel-corner { -panel-corner-radius: 46px; }
.just-perfection-api-panel-corner47 #panel .panel-corner { -panel-corner-radius: 47px; }
.just-perfection-api-panel-corner48 #panel .panel-corner { -panel-corner-radius: 48px; }
.just-perfection-api-panel-corner49 #panel .panel-corner { -panel-corner-radius: 49px; }
.just-perfection-api-panel-corner50 #panel .panel-corner { -panel-corner-radius: 50px; }
.just-perfection-api-panel-corner51 #panel .panel-corner { -panel-corner-radius: 51px; }
.just-perfection-api-panel-corner52 #panel .panel-corner { -panel-corner-radius: 52px; }
.just-perfection-api-panel-corner53 #panel .panel-corner { -panel-corner-radius: 53px; }
.just-perfection-api-panel-corner54 #panel .panel-corner { -panel-corner-radius: 54px; }
.just-perfection-api-panel-corner55 #panel .panel-corner { -panel-corner-radius: 55px; }
.just-perfection-api-panel-corner56 #panel .panel-corner { -panel-corner-radius: 56px; }
.just-perfection-api-panel-corner57 #panel .panel-corner { -panel-corner-radius: 57px; }
.just-perfection-api-panel-corner58 #panel .panel-corner { -panel-corner-radius: 58px; }
.just-perfection-api-panel-corner59 #panel .panel-corner { -panel-corner-radius: 59px; }
.just-perfection-api-panel-corner60 #panel .panel-corner { -panel-corner-radius: 60px; }

.just-perfection-api-no-panel-notification-icon .clock-display StIcon
{
    width: 0;
    height: 0;
    padding: 0;
}

.just-perfection-api-no-panel-notification-icon .clock-display-box
{
    padding: 0;
    spacing: 0;
}

.just-perfection-api-no-app-menu-icon .app-menu-icon
{
    width: 0;
    height: 0;
    margin: 0;
}

.just-perfection-api-no-show-apps-button
{
    width: 0;
    height: 0;
    margin: 0;
    spacing: 0;
}

/**
 * GNOME 40 shows some part of the icon when the container has
 * no width and height. To fix that we need to push the icon a litte bit to the
 * side.
 * This particular icon shouldn't have 0 as width and height. It can affect the
 * height and width of dash background.
 */
.just-perfection-api-no-show-apps-button StIcon
{
    padding: 0 100px;
}

.just-perfection-api-activities-button-icon
{
    -st-icon-style: symbolic;
    -natural-hpadding: 6px;
    -minimum-hpadding: 6px;
    padding-right: 6px;
    padding-left: 0;
}
